# ==============================================================================
# requirements.txt
# ==============================================================================
# Author:      AndriiBash
# Created:     2026-1-1
# Project:     TetOS (github.com/AndriiBash/tetOS)
# ==============================================================================

psutil>=5.9
python-telebot>=4.29
python-dotenv>=1.0
